# Ignore all node_modules folders anywhere in the repository
node_modules/
**/node_modules/

# Ignore all environment files
.env
**/.env

# Ignore build folders
dist/
**/dist/

build/
**/build/

# Logs
*.log
npm-debug.log*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db